{
    "agent":{
        "email": "",
        "password": ""
    },

    "manager": {
        "email": "",
        "password":""
    },

    "clean": {
        "url": "",
        "password": ""
    },
    
    "CI": false
}
